 $topNavBlack: #121212;
$topNavBorderRed: #D20000;
$bodyBlack: #0C0C0C;
// $navLinkHoverRed: #B90000;
$navLinkHoverRed: #de0000;
$imageBorderGrey: #4D4D4D;
$primaryBlue: #0E35B5;
$frameLinkHoverBlue: #2cc7ca;
$facebookBlue: #4167B2;
$twitchPurple: #6848A4;
$youtubeRed: #C51A1E;
$instagramPink: #a0067e;
$twitterBlue: #00ACED;
$footerBlack: #090909;
$pageSkipGrey: #999999;
$paginationGrey: #444444;
$linkHoverBlue: #0056b3;

@font-face{
    src: url("../fonts/agency.woff");
    font-family: "Agency FB";
}
body,a{
    font-family: "Agency FB";
    color: #d6d6d6;
}
body{
    background-color: $bodyBlack;
}
ul{
    list-style-type: none;
}
.unclickable{
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#loginModal{
    .modal-content{
        background-color: $topNavBlack;
        border: 2px solid $paginationGrey;
        border-radius: 0px;
        
        .modal-header{
            border-bottom: none;
            .modal-title{
                font-size: 36px;
            }
            .close{
                position: absolute;
                top:20px;
                right: 20px;
                text-shadow: none;
                i{
                    font-size: 36px;
                    color: $imageBorderGrey;
                }
            }
        }

        .modal-body{
            #rememberMe{
                span{
                    font-size: 18px;
                }
            }

            #signUpRedirect{
                font-size: 24px;
                span{
                    &:hover{
                        color:$linkHoverBlue;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    
}
.headerNav{
    background-color: $topNavBlack;
    border-bottom: 1px solid $topNavBorderRed;
    position: relative;
    #logo{
        a{
            &:hover{
                text-decoration: none;
                color: #FFF;
            }
            img{
                height: 35px;
            }
            h1{
                font-size: 26px;
            }
        }
    }

    #navMenu{
        li{
            font-size: 20px;
            span:hover, a:hover{
                color: $navLinkHoverRed;
                cursor: pointer;
            }
        }
    }
}
#headerNavBlue{
    border-bottom: 1px solid $primaryBlue;

    #navMenu{
        li{
            span:hover,a:hover{
                color: $linkHoverBlue;
            }
        }
    }
}
#headerIntro{
    #slider{
        border: 1px solid $imageBorderGrey;
        position: relative;

        .indicators{
            padding-left: 0px;
        }

        &Title{
            position: absolute;
            bottom: 5px;
            left: 15px;
        }
    }

}
.contentSection{
    &Main{
        h2{
            font-size: 28px;
        }

        .homeNewsItem{
            // height: 175px;
            &Image{
                height: 175px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 1px solid $imageBorderGrey;
                }
            }
            &Text{
                font-size: 18px;
                line-height: 24px;
                span{
                    font-size: 24px;
                    &:hover{
                        color: $linkHoverBlue;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &Side{
        // border: 1px solid $imageBorderGrey;
        // height: 800px;

        #upcomingGames{
            .gc-table{
                thead{
                    tr{
                        th:first-child{
                            text-align: center;
                        }
                        th:last-child{
                            text-align: right;
                        }
                    }
                }
                tbody{
                    tr{
                        td:first-child{
                            width: 65%;
                        }
                        td:last-child{
                            width: 35%;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .nzxt{
            border: 1px solid $imageBorderGrey;
            img{
                width: 100%;
            }
        }

        
        #youtubeLatestVideo{
            iframe{
                width: 100%;
                height: 190px;
                border: 1px solid $imageBorderGrey;
            }
        }
        #forumSignUp{
            border: 1px solid $imageBorderGrey;
            h4{
                font-size: 28px;
            }
            button{
                width: 40%;
            }
        }
        #mostActiveForumMembers{
            border: 1px solid $imageBorderGrey;
            .gc-table{
                border: none;
                thead{
                    tr{
                        th{
                            border-bottom: none;
                            border-top: 1px solid $imageBorderGrey;
                        }
                        th:nth-child(1)
                        {
                            text-align: center;
                        }
                        th:nth-child(3)
                        {
                            text-align: right;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border-color: $imageBorderGrey;

                        }
                        td:nth-child(1)
                        {
                            text-align: center;
                        }
                        td:nth-child(3)
                        {
                            text-align: right;
                        }
                    }
                }
            }
        }
        #buildYourPc{
            img{
                border: 1px solid $imageBorderGrey;
            }
        }

    }
}
#footer{
    background-color: $footerBlack;
    border-top: 2px solid $imageBorderGrey;
    &Content{
        div{
            h4,h5{
                font-size: 24px;
            }
            ul{
                li{
                    span,a{
                        font-size: 18px;
                        &:hover{
                            color: $linkHoverBlue;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    p{
        font-size: 18px;
    }
    
}


#twitchChannel{
    .frameLinkOverlay{
        span{
            font-size: 18px;
            &:hover{
                cursor: pointer;
                color: $twitchPurple;
                text-decoration: underline;
            }
        }
    }
}
#socials{

    &Links{
        font-size: 38px;
        li{
            margin: 0px 8px;
            &:nth-child(1) i{
                color: $facebookBlue;
                &:hover{
                    color: lighten($facebookBlue,10%);
                }
            }
            &:nth-child(2) i{
                color: $twitterBlue;
                &:hover{
                    color: lighten($twitterBlue,10%);
                }
            }
            &:nth-child(3) i{
                color: $instagramPink;
                &:hover{
                    color: lighten($instagramPink,10%);
                }
            }
            &:nth-child(4) i{
                color: $youtubeRed;
                &:hover{
                    color: lighten($youtubeRed,10%);
                }
            }
            &:nth-child(5) i{
                color: $twitchPurple;
                &:hover{
                    color: lighten($twitchPurple,10%);
                }
            }
        }
    }
}


.headerWallpaper{
    height: 320px;
    // background-image: url("../images/header-wallpapers/battlefield.jpg");
    // background-size: cover;
    // background-position: center top;
    border-bottom: 1px solid $imageBorderGrey;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0%;
    }
}

// NEWS Page
#news, #videoGames{
    #search{
        position: relative;
        i{
            display: block;
            position: absolute;
            top: 12px;
            left: 15px;
            z-index: 1;
        }
        &Input{
            border: none;
            padding: 20px 40px;
            border-radius: 0px;
            background-color: #161616;
            font-family: "Agency FB";
            font-size: 18px;
            color: #FFF;
            &::placeholder{
                color: $imageBorderGrey;
            }
            &:focus{
                box-shadow: 0 0 0 0.2rem rgba($primaryBlue,0.2);
                z-index: 0;
            }
        }
    }
    .pagination{

        li{
            &.active{
                background-color: $primaryBlue;
            }
            &.page-skip{
                a{
                    color: $pageSkipGrey;
                }
            }
            &.disabled{
                a{
                    color: $paginationGrey;
                }
            }
            a{
                text-decoration: none;
            }
        }
    }
    &Content{
        div{
            flex:0 0 31%;
            margin-top: 50px;
            P{
                margin-bottom: 0px;
                font-size: 16px;
            }
            img{
                border: 1px solid $imageBorderGrey;
            }
            span{
                
                font-size: 24px;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                    color: $linkHoverBlue;
                }
            }
        }
    }
}
// GAME LIST Page
#videoGamesWallpaper{
    img{
        object-position: 50% 70%;
    }
}
#videoGames{
    #filterWrapper{
        border-right: 1px solid rgba($imageBorderGrey,0.3);
        .filterSection{
            h3{
                font-size: 32px;
            }
            ul{
                border:none;
                li{
                    background: none;
                    border:none;
                    padding: 2px 0px;
                    p{
                        margin-bottom: 0px;
                        label{
                            margin-bottom: 0px;
                            span{
                                padding-left: 27px;
                                color: #FFF;
                                font-size: 26px;
                            }
                        }
                        
                    }
                    #noui-slider{
                        .noUi-connect{
                            background: $linkHoverBlue;
                        }
                    }
                }
            }
        }
    }

    &List{
        .videoGamesListItem{
            span{
                font-size: 26px;
                &:hover{
                    text-decoration: underline;
                    color: $linkHoverBlue;
                    cursor: pointer;
                }
            }
            p{
                font-size: 20px;
                line-height: normal
            }
        }
    }
    
}

// GAME ART Page
#gameArtWallpaper{
    img{
        object-position: 50% 70%;
    }
}
#gameArt{
    &List{
        .gameArtListItem{
            img{
                border: 1px solid $imageBorderGrey;
            }
        }
    }
    #spinner{
        border-color: $primaryBlue;
    }
}

// ABOUT Page
#aboutWallpaper{
    img{
        object-position: 50% 40%;
    }
}
#about{
    // VERSION 1
    // &Text{
    //     p,span{
    //         font-size: 24px;
    //         line-height: normal;
    //     }
    //     P:nth-child(2){
    //         font-size: 28px;
    //     }        
    //     span{
    //         font-size: 28px;
    //     }

    // }

    // VERSION 2
    &Text{
        img{
            border: 1px solid $imageBorderGrey;
        }
        p,span{
            font-size: 24px;
            line-height: normal;
        }
        P:nth-child(2){
            font-size: 28px;
        }        
        span{
            font-size: 28px;
        }
    
    }
}
// Media queries
@media screen and (max-width: 1127px){
    #headerIntro{
        .frameLink{
            &Overlay{
                a{
                    font-size: 16px;
                }
            }
        }
    }
    .contentSection{
        &Main{
            .homeNewsItem{
                &Text{
                    a{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }  
        &Side{
            #upcomingGames{
                table{
                    thead{
                        tr{
                            th{
                                font-size: 16px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    #news{
        &Content{
            div{
                flex: 0 0 48%;
            }
        }
        .pagination{
            display: flex !important;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 768px){
    #menuBtn{
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .contentSection{
        &Main{
            .homeNewsItem{
                &Image{
                    height: 200px;
                }
            }
        }
        &Side{
            #youtubeLatestVideo{
                iframe{
                    height: 250px;
                }
            }
        }
    }
    #videoGames{
        #filterWrapper{
            border-right: none;
        }
    }
    #footer{
        &Content{
            .footerContentLinks{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    
}
@media screen and (max-width: 575px){
    #headerIntro{
        #slider{
            }
            
        }
    // .headerWallpaper{
    //     height: 250px;
    // }
    #news{
        .gc-select{
            justify-content: start !important;
            div{
                flex: 1;
            }
        }
        &Content{
            div{
                flex: 0 0 98%;
            }
        }
    }
    #videoGames{
        &Nav{
            .gc-select{
                justify-content: start;
                div{
                    flex: 1;
                }
            }
        }
    }
    #footer{
        &Content{
            .footerContentLinks{
                align-items: flex-start;
                div{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 480px){
    #headerIntro{
        #slider{
            .carousel-indicators{
                display: none;
            }
        }
    }
    #videoGames{
        #filterWrapper{
            .filterSection:last-child{
                ul{
                    li:last-child{
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
    #about{
        &Text{
            p:nth-child(2){
                text-align: center;
            }
            span{
                display: block;
                text-align: center;
                a{
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 375px){
    #headerNav{
        #menuBtn{
            right: 5px;
        }
    }
    .contentSection{
        &Main{
            .homeNewsItem{
                &Image{
                    height: 150px;
                }
            }
        }
        &Side{
            #buildYourPc, #twitchChannelWrapper{
                flex: 0 0 100%;
                max-width: 100%;
                margin-left: 0px;
            }
            #youtubeLatestVideo{
                iframe{
                    height: 190px;
                }
            }
        }
    }
    #twitchChannelWrapper{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    #about{
        &Text{
            #profilePicWrapper{
                flex: 0 0 70%;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
// Materialize input field colors
.input-field input{
    color: white;
    font-weight: normal;
    font-size: 18px !important;
}
.input-field input + label {
    // color: $primaryBlue !important;
    font-size: 18px;
  }
.input-field input:focus + label {
    // color: $primaryBlue !important;
    color: white !important;
  }
  .input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;

  }
//   checkbox
input[type="checkbox"]:checked + span:not(.lever):before{
    border-bottom-color: $linkHoverBlue;
    border-right-color: $linkHoverBlue;
}

// My custom classes
.gc-nav-blue{
    border-bottom: 1px solid $primaryBlue;
}
.gc-table{
    border: 1px solid $imageBorderGrey;
    thead{
        tr{
            border-bottom: 1px solid $imageBorderGrey;
            th{ 
                color: #FFF;
                font-weight: normal;
                font-size: 18px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            th:first-child{
                padding-right: 0px;
            }
            th:last-child{
                padding-left: 0px;
                
            }
            
        }
    }
    tbody{
        tr{
            &:nth-of-type(odd){
                background: rgba(#000,0.3);
            }
            td {
                color: #FFF; 
                font-size: 18px;
                padding-top: 5px;
                padding-bottom: 5px;
                vertical-align: middle;
            }
            td:first-child{
                padding-right: 0px;
            }
            td:last-child{
                padding-left: 0px;
            }
        }
    }
}
.gc-button{
    background-color: $primaryBlue;
    border-color: $primaryBlue;
    border-radius: 2px;
    font-size: 18px;
    &:hover{
        background-color: lighten($primaryBlue, 10%);
        border-color: lighten($primaryBlue,10%);
    }
}
.gc-select{
    span{
        font-size: 24px;
        
    }
    input{
        margin-bottom: 0px !important;
    }
    div{
        ul{
            li{
                span{
                    font-size: 22px;
                    color: $primaryBlue;
                }
            }
        }
        .caret{
            fill: #FFF;
        }
    }
}
.frameLink{
    position: relative;
    border: 1px solid $imageBorderGrey;
    img{
        width: 100%;
    }

    &Overlay{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: rgba(#000,0.8);
        span{
            font-size: 18px;
            &:hover{
                color: $frameLinkHoverBlue;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}