@font-face {
  src: url("../fonts/agency.woff");
  font-family: "Agency FB";
}

body, a {
  font-family: "Agency FB";
  color: #d6d6d6;
}

body {
  background-color: #0C0C0C;
}

ul {
  list-style-type: none;
}

.unclickable {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#loginModal .modal-content {
  background-color: #121212;
  border: 2px solid #444444;
  border-radius: 0px;
}

#loginModal .modal-content .modal-header {
  border-bottom: none;
}

#loginModal .modal-content .modal-header .modal-title {
  font-size: 36px;
}

#loginModal .modal-content .modal-header .close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: none;
}

#loginModal .modal-content .modal-header .close i {
  font-size: 36px;
  color: #4D4D4D;
}

#loginModal .modal-content .modal-body #rememberMe span {
  font-size: 18px;
}

#loginModal .modal-content .modal-body #signUpRedirect {
  font-size: 24px;
}

.headerNav {
  background-color: #121212;
  border-bottom: 1px solid #D20000;
  position: relative;
}

.headerNav #logo a:hover {
  text-decoration: none;
  color: #FFF;
}

.headerNav #logo a img {
  height: 35px;
}

.headerNav #logo a h1 {
  font-size: 26px;
}

.headerNav #navMenu li {
  font-size: 20px;
}

.headerNav #navMenu li a:hover {
  color: #de0000;
}

#headerNavBlue {
  border-bottom: 1px solid #0E35B5;
}

#headerNavBlue #navMenu li a:hover {
  color: #0056b3;
}

#headerIntro #slider {
  border: 1px solid #4D4D4D;
  position: relative;
}

#headerIntro #slider .indicators {
  padding-left: 0px;
}

#headerIntro #sliderTitle {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.contentSectionMain h2 {
  font-size: 28px;
}

.contentSectionMain .homeNewsItemImage {
  height: 175px;
}

.contentSectionMain .homeNewsItemImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #4D4D4D;
}

.contentSectionMain .homeNewsItemText {
  font-size: 18px;
  line-height: 24px;
}

.contentSectionMain .homeNewsItemText a {
  font-size: 24px;
}

.contentSectionSide #upcomingGames .gc-table thead tr th:first-child {
  text-align: center;
}

.contentSectionSide #upcomingGames .gc-table thead tr th:last-child {
  text-align: right;
}

.contentSectionSide #upcomingGames .gc-table tbody tr td:first-child {
  width: 65%;
}

.contentSectionSide #upcomingGames .gc-table tbody tr td:last-child {
  width: 35%;
  text-align: right;
}

.contentSectionSide .nzxt {
  border: 1px solid #4D4D4D;
}

.contentSectionSide .nzxt img {
  width: 100%;
}

.contentSectionSide #youtubeLatestVideo iframe {
  width: 100%;
  height: 190px;
  border: 1px solid #4D4D4D;
}

.contentSectionSide #forumSignUp {
  border: 1px solid #4D4D4D;
}

.contentSectionSide #forumSignUp h4 {
  font-size: 28px;
}

.contentSectionSide #forumSignUp button {
  width: 40%;
}

.contentSectionSide #mostActiveForumMembers {
  border: 1px solid #4D4D4D;
}

.contentSectionSide #mostActiveForumMembers .gc-table {
  border: none;
}

.contentSectionSide #mostActiveForumMembers .gc-table thead tr th {
  border-bottom: none;
  border-top: 1px solid #4D4D4D;
}

.contentSectionSide #mostActiveForumMembers .gc-table thead tr th:nth-child(1) {
  text-align: center;
}

.contentSectionSide #mostActiveForumMembers .gc-table thead tr th:nth-child(3) {
  text-align: right;
}

.contentSectionSide #mostActiveForumMembers .gc-table tbody tr td {
  border-color: #4D4D4D;
}

.contentSectionSide #mostActiveForumMembers .gc-table tbody tr td:nth-child(1) {
  text-align: center;
}

.contentSectionSide #mostActiveForumMembers .gc-table tbody tr td:nth-child(3) {
  text-align: right;
}

.contentSectionSide #buildYourPc img {
  border: 1px solid #4D4D4D;
}

#footer {
  background-color: #090909;
  border-top: 2px solid #4D4D4D;
}

#footerContent div h4, #footerContent div h5 {
  font-size: 24px;
}

#footerContent div ul li a {
  font-size: 18px;
}

#footerContent div ul li a:hover {
  text-decoration: none;
}

#footer p {
  font-size: 18px;
}

#twitchChannel .frameLinkOverlay a:hover {
  color: #6848A4;
}

#socialsLinks {
  font-size: 38px;
}

#socialsLinks li {
  margin: 0px 8px;
}

#socialsLinks li:nth-child(1) i {
  color: #4167B2;
}

#socialsLinks li:nth-child(1) i:hover {
  color: #6183c5;
}

#socialsLinks li:nth-child(2) i {
  color: #00ACED;
}

#socialsLinks li:nth-child(2) i:hover {
  color: #21c2ff;
}

#socialsLinks li:nth-child(3) i {
  color: #a0067e;
}

#socialsLinks li:nth-child(3) i:hover {
  color: #d108a5;
}

#socialsLinks li:nth-child(4) i {
  color: #C51A1E;
}

#socialsLinks li:nth-child(4) i:hover {
  color: #e32f33;
}

#socialsLinks li:nth-child(5) i {
  color: #6848A4;
}

#socialsLinks li:nth-child(5) i:hover {
  color: #8264bb;
}

.headerWallpaper {
  height: 320px;
  border-bottom: 1px solid #4D4D4D;
}

.headerWallpaper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

#news #search, #videoGames #search {
  position: relative;
}

#news #search i, #videoGames #search i {
  display: block;
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1;
}

#news #searchInput, #videoGames #searchInput {
  border: none;
  padding: 20px 40px;
  border-radius: 0px;
  background-color: #161616;
  font-family: "Agency FB";
  font-size: 18px;
  color: #FFF;
}

#news #searchInput::-webkit-input-placeholder, #videoGames #searchInput::-webkit-input-placeholder {
  color: #4D4D4D;
}

#news #searchInput:-ms-input-placeholder, #videoGames #searchInput:-ms-input-placeholder {
  color: #4D4D4D;
}

#news #searchInput::-ms-input-placeholder, #videoGames #searchInput::-ms-input-placeholder {
  color: #4D4D4D;
}

#news #searchInput::placeholder, #videoGames #searchInput::placeholder {
  color: #4D4D4D;
}

#news #searchInput:focus, #videoGames #searchInput:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(14, 53, 181, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(14, 53, 181, 0.2);
  z-index: 0;
}

#news .pagination li.active, #videoGames .pagination li.active {
  background-color: #0E35B5;
}

#news .pagination li.page-skip a, #videoGames .pagination li.page-skip a {
  color: #999999;
}

#news .pagination li.disabled a, #videoGames .pagination li.disabled a {
  color: #444444;
}

#news .pagination li a, #videoGames .pagination li a {
  text-decoration: none;
}

#newsContent div, #videoGamesContent div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  margin-top: 50px;
}

#newsContent div P, #videoGamesContent div P {
  margin-bottom: 0px;
  font-size: 16px;
}

#newsContent div img, #videoGamesContent div img {
  border: 1px solid #4D4D4D;
}

#newsContent div a, #videoGamesContent div a {
  font-size: 24px;
}

#videoGamesWallpaper img {
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

#videoGames #filterWrapper {
  border-right: 1px solid rgba(77, 77, 77, 0.3);
}

#videoGames #filterWrapper .filterSection h3 {
  font-size: 32px;
}

#videoGames #filterWrapper .filterSection ul {
  border: none;
}

#videoGames #filterWrapper .filterSection ul li {
  background: none;
  border: none;
  padding: 2px 0px;
}

#videoGames #filterWrapper .filterSection ul li p {
  margin-bottom: 0px;
}

#videoGames #filterWrapper .filterSection ul li p label {
  margin-bottom: 0px;
}

#videoGames #filterWrapper .filterSection ul li p label span {
  padding-left: 27px;
  color: #FFF;
  font-size: 26px;
}

#videoGames #filterWrapper .filterSection ul li #noui-slider .noUi-connect {
  background: #0056b3;
}

#videoGamesList .videoGamesListItem a {
  font-size: 26px;
}

#videoGamesList .videoGamesListItem p {
  font-size: 20px;
  line-height: normal;
}

#gameArtWallpaper img {
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

#gameArtList .gameArtListItem img {
  border: 1px solid #4D4D4D;
}

#gameArt #spinner {
  border-color: #0E35B5;
}

#aboutWallpaper img {
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}

#aboutText p, #aboutText span {
  font-size: 24px;
  line-height: normal;
}

#aboutText P:nth-child(2) {
  font-size: 28px;
}

#aboutText span {
  font-size: 28px;
}

@media screen and (max-width: 1127px) {
  #headerIntro .frameLinkOverlay a {
    font-size: 16px;
  }
  .contentSectionMain .homeNewsItemText a {
    font-size: 22px;
  }
  .contentSectionMain .homeNewsItemText p {
    font-size: 16px;
    line-height: 22px;
  }
  .contentSectionSide #upcomingGames table thead tr th {
    font-size: 16px;
  }
  .contentSectionSide #upcomingGames table tbody tr td {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  #newsContent div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  #news .pagination {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #menuBtn {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  .contentSectionMain .homeNewsItemImage {
    height: 200px;
  }
  .contentSectionSide #youtubeLatestVideo iframe {
    height: 250px;
  }
  #videoGames #filterWrapper {
    border-right: none;
  }
  #footerContent .footerContentLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 575px) {
  #news .gc-select {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  #news .gc-select div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #newsContent div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 98%;
            flex: 0 0 98%;
  }
  #videoGamesNav .gc-select {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #videoGamesNav .gc-select div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #footerContent .footerContentLinks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #footerContent .footerContentLinks div {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #headerIntro #slider .carousel-indicators {
    display: none;
  }
  #videoGames #filterWrapper .filterSection:last-child ul li:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #aboutText p:nth-child(2) {
    text-align: center;
  }
  #aboutText span {
    display: block;
    text-align: center;
  }
  #aboutText span a {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  #headerNav #menuBtn {
    right: 5px;
  }
  .contentSectionMain .homeNewsItemImage {
    height: 150px;
  }
  .contentSectionSide #buildYourPc, .contentSectionSide #twitchChannelWrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0px;
  }
  .contentSectionSide #youtubeLatestVideo iframe {
    height: 190px;
  }
  #twitchChannelWrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0px;
  }
}

.input-field input {
  color: white;
  font-weight: normal;
  font-size: 18px !important;
}

.input-field input + label {
  font-size: 18px;
}

.input-field input:focus + label {
  color: white !important;
}

.input-field input:focus {
  border-bottom: 1px solid white !important;
  -webkit-box-shadow: 0 1px 0 0 white !important;
          box-shadow: 0 1px 0 0 white !important;
}

input[type="checkbox"]:checked + span:not(.lever):before {
  border-bottom-color: #0056b3;
  border-right-color: #0056b3;
}

.gc-nav-blue {
  border-bottom: 1px solid #0E35B5;
}

.gc-table {
  border: 1px solid #4D4D4D;
}

.gc-table thead tr {
  border-bottom: 1px solid #4D4D4D;
}

.gc-table thead tr th {
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gc-table thead tr th:first-child {
  padding-right: 0px;
}

.gc-table thead tr th:last-child {
  padding-left: 0px;
}

.gc-table tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.3);
}

.gc-table tbody tr td {
  color: #FFF;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.gc-table tbody tr td:first-child {
  padding-right: 0px;
}

.gc-table tbody tr td:last-child {
  padding-left: 0px;
}

.gc-button {
  background-color: #0E35B5;
  border-color: #0E35B5;
  border-radius: 2px;
  font-size: 18px;
}

.gc-button:hover {
  background-color: #1243e4;
  border-color: #1243e4;
}

.gc-select span {
  font-size: 24px;
}

.gc-select input {
  margin-bottom: 0px !important;
}

.gc-select div ul li span {
  font-size: 22px;
  color: #0E35B5;
}

.gc-select div .caret {
  fill: #FFF;
}

.frameLink {
  position: relative;
  border: 1px solid #4D4D4D;
}

.frameLink img {
  width: 100%;
}

.frameLinkOverlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.frameLinkOverlay a {
  font-size: 18px;
}

.frameLinkOverlay a:hover {
  color: #2cc7ca;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */