@font-face {
  src: url("../fonts/Agency FB.ttf");
  font-family: "Agency FB";
}

body, a {
  font-family: "Agency FB";
  color: #FFF;
}

body {
  background-color: #0C0C0C;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#headerNav {
  background-color: #121212;
  border-bottom: 1px solid #D20000;
  position: relative;
}

#headerNav #logo img {
  height: 35px;
}

#headerNav #logo h1 {
  font-size: 26px;
}

#headerNav #navMenu li {
  font-size: 20px;
}

#headerNav #navMenu li a:hover {
  color: #de0000;
}

#headerIntro #slider {
  border: 1px solid #4D4D4D;
  position: relative;
}

#headerIntro #slider .indicators {
  padding-left: 0px;
}

#headerIntro #sliderTitle {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

#headerIntro .frameLink {
  position: relative;
  border: 1px solid #4D4D4D;
}

#headerIntro .frameLink img {
  width: 100%;
}

#headerIntro .frameLinkOverlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#headerIntro .frameLinkOverlay a {
  font-size: 18px;
}

#headerIntro .frameLinkOverlay a:hover {
  color: #2cc7ca;
  text-decoration: none;
}

.contentSectionMain {
  height: 800px;
}

.contentSectionMain h2 {
  font-size: 28px;
}

.contentSectionMain .homeNewsItem {
  height: 175px;
}

.contentSectionMain .homeNewsItemImage img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #4D4D4D;
}

.contentSectionMain .homeNewsItemText {
  font-size: 18px;
  line-height: 24px;
}

.contentSectionMain .homeNewsItemText a {
  font-size: 24px;
}

.contentSectionSide #upcomingGames {
  border: 1px solid #4D4D4D;
}

.contentSectionSide #upcomingGames table thead tr {
  border-bottom: 1px solid #4D4D4D;
}

.contentSectionSide #upcomingGames table thead tr th {
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contentSectionSide #upcomingGames table thead tr th:first-child {
  text-align: center;
  padding-right: 0px;
}

.contentSectionSide #upcomingGames table thead tr th:last-child {
  text-align: right;
  padding-left: 0px;
}

.contentSectionSide #upcomingGames table tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.3);
}

.contentSectionSide #upcomingGames table tbody tr td {
  color: #FFF;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.contentSectionSide #upcomingGames table tbody tr td:first-child {
  width: 65%;
  padding-right: 0px;
}

.contentSectionSide #upcomingGames table tbody tr td:last-child {
  padding-left: 0px;
  width: 35%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  #menuBtn {
    position: absolute;
    right: 5px;
    top: 10px;
  }
}

@media screen and (max-width: 1127px) {
  #headerIntro .frameLinkOverlay a {
    font-size: 16px;
  }
  .contentSectionMain .homeNewsItemText a {
    font-size: 22px;
  }
  .contentSectionMain .homeNewsItemText p {
    font-size: 16px;
    line-height: 22px;
  }
  .contentSectionSide #upcomingGames table thead tr th {
    font-size: 16px;
  }
  .contentSectionSide #upcomingGames table tbody tr td {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */