$topNavBlack: #121212;
$topNavBorderRed: #D20000;
$bodyBlack: #0C0C0C;
// $navLinkHoverRed: #B90000;
$navLinkHoverRed: #de0000;
$imageBorderGrey: #4D4D4D;
$primaryBlue: #0E35B5;
$linkHoverBlue: #2cc7ca;

@font-face{
    src: url("../fonts/Agency FB.ttf");
    font-family: "Agency FB";
}
html{
    
}
body,a{
    font-family: "Agency FB";
    color: #FFF;
}
body{
    background-color: $bodyBlack;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#headerNav{
    background-color: $topNavBlack;
    border-bottom: 1px solid $topNavBorderRed;
    position: relative;
    #logo{
        img{
            height: 35px;
        }
        h1{
            font-size: 26px;
        }
    }

    #navMenu{
        li{
            font-size: 20px;
            a:hover{
                color: $navLinkHoverRed;
            }
        }
    }
}
#headerIntro{
    #slider{
        border: 1px solid $imageBorderGrey;
        position: relative;

        .indicators{
            padding-left: 0px;
        }

        &Title{
            position: absolute;
            bottom: 5px;
            left: 15px;
        }
    }
    .frameLink{
        position: relative;
        border: 1px solid $imageBorderGrey;
        img{
            width: 100%;
        }

        &Overlay{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: rgba(#000,0.8);
            a{
                font-size: 18px;
                &:hover{
                    color: $linkHoverBlue;
                    text-decoration: none;
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    #menuBtn{
        position: absolute;
        right: 5px;
        top: 10px;
    }
}